<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.welmo">

	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission
		android:name="com.google.android.gtalkservice.permission.GTALK_SERVICE" />

	<application android:icon="@drawable/icon_calendar">
		<activity android:icon="@drawable/icon_calendar"
			android:name=".calendar.CalendarMonthView"
			android:label="Calendar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".tools.WelmoTools"
			android:icon="@drawable/icon_preference"
			android:label="Welmo Tools">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".meeting.MeetingDayView"
			android:label="Day Meetings" android:icon="@drawable/calendarday">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".meeting.MeetingView"
			android:label="Meeting Edit"
			android:icon="@drawable/appointmentnew32x32">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".contacts.ContactsList"
			android:label="Contacts List"
			android:icon="@drawable/icon_contacts">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity 
			android:name=".communication.GTalkDataMessageSender"
			android:label="@string/gtalk_data_message_sender"
			android:icon="@drawable/network_wireless">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.SAMPLE_CODE" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- 
			Intent Definitions
		-->
		<receiver android:name=".communication.GTalkDataMessageReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.SAMPLE_GTALK_DATA_MESSAGE" />
			</intent-filter>
		</receiver>
		<receiver android:name=".communication.SMSReceiver">
			<intent-filter>
				<action
					android:name="android.provider.Telephony.SMS_RECEIVED">
				</action>
			</intent-filter>
		</receiver>
	</application>


</manifest>
