<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.welmo">

  	<instrumentation android:targetPackage="com.welmo"
    	android:label="Welmo Acceptance Tests" android:name="Positron"/>

	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission
		android:name="com.google.android.gtalkservice.permission.GTALK_SERVICE" />

	<application android:icon="@drawable/icon_calendar">
		<activity android:icon="@drawable/icon_calendar"
			android:name=".calendar.CalendarMonthView"
			android:label="Calendar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".tools.WelmoTools"
			android:icon="@drawable/icon_preference"
			android:label="Welmo Tools">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".meeting.MeetingDayView"
			android:label="Day Meetings" android:icon="@drawable/calendarday">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".meeting.MeetingView"
			android:label="Meeting Edit"
			android:icon="@drawable/appointmentnew32x32">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".contacts.ContactsList"
			android:label="Contacts List"
			android:icon="@drawable/icon_contacts">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".communication.GTalkDataMessageSender"
			android:label="@string/gtalk_data_message_sender"
			android:icon="@drawable/network_wireless">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.SAMPLE_CODE" />
			</intent-filter>
		</activity>
		<activity android:name=".communication.XMPPClient"
			android:label="XMPPClient">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<!-- 
			Alarm Service
		-->
		<receiver android:name=".communication.AlarmService2_Alarm"
			android:process=":remote" />
		<service android:name=".communication.AlarmService2_Service"
			android:process=":remote" />
		<receiver android:name=".communication.OneShotAlarm"
			android:process=":remote" />
		<receiver android:name=".communication.RepeatingAlarm"
			android:process=":remote" />

		<activity android:name=".communication.AlarmService2"
			android:label="Alarm Service">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".communication.AlarmController"
			android:label="Alarm Controler">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<!-- =================================================
			XMPP Service
		=================================================  	-->
		
		<activity android:name=".communication.XMPPRcvMessageHandler"
			android:label="Messages Handler">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<!-- activity for handling response to XMPP invitations -->
		<activity android:name=".communication.XMPPRspMessage"
			android:label="XMMP Repond">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<receiver android:name=".communication.XMPPRcvSrvIntentLaucher" android:process=":remote" />
	
		<service android:name=".communication.XMPPRcvService" android:process=":remote" />
		
		<activity
			android:name=".communication.XMPPRcvApplicationLauncher"
			android:label="XMPP Rcv Launcher">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".communication.ServiceStartArgumentsController"
			android:label="service_start_arguments_controller">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.SAMPLE_CODE" />
			</intent-filter>
		</activity>
		<activity android:name=".communication.DualServiceClient"
			android:label="DualServiceClient">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<service android:name=".communication.DualService" />
		<!-- 
			Intent Definitions
		-->
		<receiver android:name=".communication.GTalkDataMessageReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.SAMPLE_GTALK_DATA_MESSAGE" />
			</intent-filter>
		</receiver>
		<receiver android:name=".communication.SMSReceiver">
			<intent-filter>
				<action
					android:name="android.provider.Telephony.SMS_RECEIVED">
				</action>
			</intent-filter>
		</receiver>
	</application>
	
	<receiver android:name=".communication.AlarmService2_Alarm" android:process=":remote" />
    <service android:name=".communication.AlarmService2_Service" android:process=":remote" />
	<receiver android:name=".communication.OneShotAlarm" android:process=":remote" />
	<receiver android:name=".communication.RepeatingAlarm" android:process=":remote" />

       

</manifest>
